body{
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.module {
  position: relative;
  z-index: 1;
  background-color: $off-white;

  @extend .clearfix;
}
.module:not(:first-of-type) {
  clear: both;
}

.page-template-default, .single {
  .entry-content {
    max-width: 1040px;
    width: 100%;
    padding: 2em 3em;
    margin-left: auto;
    margin-right: auto;
    background-color: $off-white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    position: relative;
    z-index: 10;
    margin-bottom: 3em;
    margin-top: 3em;
  }
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p{
	@include default-font;
}
// Generally used as containers
section, header, footer, blockquote, article.page {
    margin: 0;
}

// Lists
ul,ol {
    padding: 0;

    li {
        padding: 0;
    }
}

dl {
    padding: 0;

    dd {
        padding: 0;
    }
}
