.block-staff {

	.layout-content {
	  max-width: 1030px;
	  width: 100%;
	  margin: 0 auto;
	  padding-right: 15px;
	  padding-left: 15px;
	}

	.group-description {
		max-width: 730px;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}
}